<% unless account_signed_in? %>
    <div class="row">
        <div class="col">
            <p class="h4">Trending Today</p>
        </div>
    </div>
    <!-- First Row -->
    <div class="row">
        <div class="col-sm-3">
            Trending 1
        </div>
        <div class="col-sm-3">
            Trending
        </div>
        <div class="col-sm-3">
            Trending
        </div>
        <div class="col-sm-3">
            Trending
        </div>
    </div>
    <% end %>
        <div class="row">
            <div class="col">
                <p class="h5">Popular Posts</p>
            </div>
        </div>
        <!-- Second Row -->
        <div class="row">
            <div class="col-8">
        <%= render partial: "posts/list", locals: { posts: @posts } %>
            </div>
            <div class="col-4">
                <p class="h4 mb-4">Upcoming communities</p>
                <div class="card">
                    <ul class="list-group">
                        <% @communities.each do |community| %>
                            <li class="list-group-item">
                                <%= link_to community.name, communities_path(community) %>
                            </li>
                            <% end %>
                    </ul>
                </div>
                <%= link_to "View all" , communities_path, class: "btn btn-primary mt-3" %>
            </div>
        </div>