<% if account_signed_in? %>
  <div class="float-end m-3">
     <%= link_to "Create New Community" , new_community_path, class: "btn btn-outline-primary" %>
  </div>
<% end %>
<% if @communities.size> 0 %>
    <% @communities.each do |community| %>
        <div class="card m-4" style="width: 50rem;">
            <div class="card-body">
                <h3 class="card-title">
                    <%= link_to community.name, community %>
                </h3>
                <p class="card-text">
                    <%= simple_format community.rules %>
                </p>
            </div>
        </div>
    <% end %>
<% else %>
    <p>No Communities found</p>
<% end %>